body {
	background-color: white;
	color: black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  float: left;
  display: block;
  text-align: center;
  padding: 30px 50px;
  font-size: 45px;
  font-weight: 300;
}

.right{
  float:right;
  text-decoration: underline;
}


.part1 {
  display: grid;
	grid-template-columns: 1fr 1.5fr;
  padding: 300px 100px;
  grid-gap: 50px;
}

p {
  font-size: 24px;
  font-weight: 300;
}
