body {
	background-color: white;
	color: black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  float: left;
  display: block;
  text-align: center;
  padding: 30px 50px;
  font-size: 45px;
  font-weight: 400;
}

.right{
  float:right;
  text-decoration: underline;
}


.part1 {
	padding-top: 200px;
  display: grid;
	grid-template-columns: 0.8fr 2fr;
  grid-gap: 50px;
}

p {
  font-size: 24px;
  font-weight: 400;
}
