body {
	background-color: black;
	color: white;
  font-family: 'Montserrat', sans-serif;
}

header{
  padding-bottom: 250px;
}


#uk {
  color: white;
  font-size: 100px;
  padding-left: 50px;
  padding-bottom: 150px;
}

#uk li {
  list-style: none;
  position: absolute;
  opacity: 0;
}

#uk li.active {
  animation: fadeInOut 0.6s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  20% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

h1 {
  float: left;
  display: ;
  text-align: center;
  padding: 30px 50px;
  font-size: 45px;
  font-weight: 400;
}


.right{
  float:right;
  margin-left: 50px;
}

.project{
  padding-top: 80px;
  padding-bottom: 20px
}

p {
  display:inline-block;
  padding: 0 50px;
  font-size: 50px;
}

footer {
  padding: 150px 60px;
  padding-bottom: 0;
}

h2 {
  float: left;
  display: block;
  text-align: center;
  font-size: 24px;
}
